.articles {
  text-align: center;
  padding: 20px;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 250px;
}

.card img {
  width: 100%;
  height: auto;
}
