footer {
  background-color: gray;
  color: black;
  padding: 20px;
  text-align: center;
}

.linking {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.app img {
  width: 25px;
  height: 25px;
}
