.SANYAM {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.SANYAM input {
  max-width: 250px;
  padding: 5px;
}

.SANYAM button {
  padding: 6px 12px;
  background: #646cff;
  color: white;
  border: none;
  cursor: pointer;
}
